<!DOCTYPE HTML>
<html>
  <head>
    <title>Datastore Example</title>
  </head>

  <body>
    <h1>Datastore Example</h1>

    <h3>Project: {{ project }}</h3>

    <form action="{{ url('store') }}" method="post">
        Your Name:<input name="name" />
        <p>
            Comment:<br />
            <textarea name="body" rows="5" cols="100"></textarea>
        </p>
        <input type="submit" />
    </form>


    <h2>Comments:</h2>
    <ul>
        {% for comment in comments %}
            <li>
                {{ comment.body }}
                <br />
                <em>Posted by {{ comment.name }} - {{ comment.created | date('Y-m-d H:i:s')}}</em>
            </li>
        {% else %}
            <li><em>No comments yet</em></li>
        {% endfor %}
    </ul>
  </body>
</html>
